body {
    background-color: #F7CFD8;
    margin: 0;
    font-family: Arial, sans-serif;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%; 
    table-layout: fixed; 
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    margin: 1rem 0; 
}

table th,
table td {
    text-align: center;
    padding: 0.5rem;
}

table th {
    font-size: 1.2rem;
    text-transform: uppercase;
}
